<div class="row">
  <% @surplus_lands.each do |surplus_land| %>
    <div class="col-md-4">
      <p><%= surplus_land.title %></p>
      <p><%= surplus_land.price %></p>
      <p><%= surplus_land.state %></p>
      <p><%= surplus_land.address %></p>
      <p><%= surplus_land.description %></p>
      <% if surplus_land.images.any? %>
        <%= link_to edit_surplus_land_path(surplus_land) do %>
          <p><%= image_tag surplus_land.images.first.variant(resize: '200x200') %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
