<% provide(:title, 'All Land') %>
<% provide(:page_title, @page_title) %>

<div class="row pb50">
  <!-- sidebar -->
  <div class="col-sm-3 panel-group mt50" id="prefectureAccordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="#prefectureAccordionCollapse1" data-toggle="collapse" data-parent="#prefectureAccordion" class="prefecture-link">
            北海道・東北
          </a>
        </h3>
      </div>
      <div class="panel-collapse collapse" id="prefectureAccordionCollapse1">
        <% @tohoku_hokkaido_prefectures.each do |prefecture| %>
          <div class="panel-body">
            <%= link_to prefecture, refine_search_surplus_land_path(prefecture), class: 'prefecture-link' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="#prefectureAccordionCollapse2" data-toggle="collapse" data-parent="#prefectureAccordion" class="prefecture-link">
            関東
          </a>
        </h3>
      </div>
      <div class="panel-collapse collapse" id="prefectureAccordionCollapse2">
        <% @kanto_prefectures.each do |prefecture| %>
          <div class="panel-body">
            <%= link_to prefecture, refine_search_surplus_land_path(prefecture), class: 'prefecture-link' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="#prefectureAccordionCollapse3" data-toggle="collapse" data-parent="#prefectureAccordion" class="prefecture-link">
            中部
          </a>
        </h3>
      </div>
      <div class="panel-collapse collapse" id="prefectureAccordionCollapse3">
        <% @chubu_prefectures.each do |prefecture| %>
          <div class="panel-body">
            <%= link_to prefecture, refine_search_surplus_land_path(prefecture), class: 'prefecture-link' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="#prefectureAccordionCollapse4" data-toggle="collapse" data-parent="#prefectureAccordion" class="prefecture-link">
            近畿
          </a>
        </h3>
      </div>
      <div class="panel-collapse collapse" id="prefectureAccordionCollapse4">
        <% @kinki_prefectures.each do |prefecture| %>
          <div class="panel-body">
            <%= link_to prefecture, refine_search_surplus_land_path(prefecture), class: 'prefecture-link' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="#prefectureAccordionCollapse5" data-toggle="collapse" data-parent="#prefectureAccordion" class="prefecture-link">
            中国
          </a>
        </h3>
      </div>
      <div class="panel-collapse collapse" id="prefectureAccordionCollapse5">
        <% @chugoku_prefectures.each do |prefecture| %>
          <div class="panel-body">
            <%= link_to prefecture, refine_search_surplus_land_path(prefecture), class: 'prefecture-link' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="#prefectureAccordionCollapse6" data-toggle="collapse" data-parent="#prefectureAccordion" class="prefecture-link">
            四国
          </a>
        </h3>
      </div>
      <div class="panel-collapse collapse" id="prefectureAccordionCollapse6">
        <% @shikoku_prefectures.each do |prefecture| %>
          <div class="panel-body">
            <%= link_to prefecture, refine_search_surplus_land_path(prefecture), class: 'prefecture-link' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="#prefectureAccordionCollapse7" data-toggle="collapse" data-parent="#prefectureAccordion" class="prefecture-link">
            九州・沖縄
          </a>
        </h3>
      </div>
      <div class="panel-collapse collapse" id="prefectureAccordionCollapse7">
        <% @okinawa_kyushu_prefectures.each do |prefecture| %>
          <div class="panel-body">
            <%= link_to prefecture, refine_search_surplus_land_path(prefecture), class: 'prefecture-link' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- surplus_lands item -->
  <div class="col-sm-9">
    <% if @surplus_lands.blank? %>
      <h4 class="mt50">
        <%= "#{@prefecture_name}のキャンプ地はまだ登録されていません" if @prefecture_name.present? %>
        <%= "「#{@search_word}」の検索結果は見つかりませんでした" if @search_word.present? %>
      </h4>
    <% end %>
    <div class="row">
      <%= render @surplus_lands, md: 4 %>
      <div class="text-center"><%= paginate @surplus_lands %></div>
    </div>
  </div>
</div>
