<% provide(:title, @surplus_land.title) %>
<% provide(:page_title, @surplus_land.title) %>

<div class="py50">
  <div class="content">
    <div class="row">
      <div class="col-md-6">
        <ul class="slider-for">
          <% @surplus_land.images.each do |image| %>
            <li class="image-box"><%= image_tag image, class: 'image' %></li>
          <% end %>
        </ul>
        <ul class="slider-nav">
          <% @surplus_land.images.each do |image| %>
            <li class="thumb-list"><%= image_tag image, class: 'image' %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-6">
        <% if user_signed_in? && @surplus_land.user != current_user %>
          <% if room = find_room(@surplus_land, current_user) %>
            <div class="text-center">
              <button class="btn btn-default apply-btn request">
                <%= link_to 'もう一度申し込む', room, class: 'apply-again' %>
              </button>
            </div>
          <% else %>
            <div class="text-center">
              <%= form_for @surplus_land.rooms.build do |f| %>
              <%= hidden_field_tag :surplus_land_id, @surplus_land.id %>
              <%= f.submit '申し込む', class: 'btn btn-success apply-btn request' %>
              <% end %>
            </div>
          <% end %>
        <% end %>

        <h4 class="description-heading mt30"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 管理人</h4>
        <p class="ml30"><%= link_to @surplus_land.user.name, @surplus_land.user %></p>
        <h4 class="description-heading"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> エリア</h4>
        <p class="ml30"><%= @surplus_land.state %></p>
        <h4 class="description-heading"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> 価格</h4>
        <p class="ml30"><%= @surplus_land.price %> 円</p>
        <h4 class="description-heading"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 所在地</h4>
        <p class="ml30"><%= @surplus_land.address %></p>
      </div>
    </div>

    <div class="description">
      <h4 class="description-heading"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 説明</h4>
      <p class="ml30"><%= @surplus_land.description %></p>
    </div>
    <%= link_to '編集する', edit_surplus_land_path(@surplus_land) if current_user?(@surplus_land.user) %>
  </div>

  <div class="comment py50">
    <h3>コメント</h3>
    <div class="row mt30">
      <div class="col-md-7 content" id="surplus_land_comments">
        <%= render 'comments/comment_accordion', surplus_land: @surplus_land, latest_comments: @latest_comments, previous_comments: @previous_comments %>
      </div>
      <div class="col-md-5 mt30">
        <%= form_for @comment, url: surplus_land_comments_path(@surplus_land) do |f| %>
        <div id="error_messages"></div>
        <div class="form-group">
          <%= f.text_area :body, class: 'form-control', id: 'comment_body' %>
        </div>
        <div class="form-group">
          <%= f.submit 'コメントする', class: 'btn btn-default form-control' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="google-map" id="map"></div>
</div>

<%= render 'shared/maps_script', hash: @hash %>
