<% provide(:title, @user.name) %>

<%= render 'shared/page_title', page_title: 'プロフィール' %>

<div class="row">
  <div class="col-md-4"> <!-- profile -->
    <div class="row">
      <div class="col-xs-3"> <!-- gravatar -->
        <%= gravatar_for(@user, size: 70) %>
      </div>
      <div class="col-xs-9"> <!-- name,gender -->
        <p>名前：<%= @user.name %></p>
        <p>性別：<%= @user.gender %></p>
      </div>
    </div>
    <div class=""> <!-- self introduction -->
      <h4 class="">自己紹介</h4>
      <p><%= @user.profile %></p>
    </div>
    <div class="row"> <!-- follow form -->
      <div class="col-xs-8" id="stats"> <!-- follow&follower -->
        <%= render 'users/stats', user: @user %>
      </div>
      <div class="col-xs-4"> <!-- follo button or edit-link -->
        <% if current_user?(@user) %>
          <%= link_to '編集する', edit_user_registration_path %>
        <% else %>
          <%= render 'users/follow_form', user: @user %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-8"> <!-- surplus_land_item -->

  </div>
</div>
