<% provide(:title, 'Talk Room') %>
<% provide(:page_title, @room.surplus_land.title) %>

<div class="py50">
  <h3 class="message-prompt">
    <% if current_user == @room.owner %>
    <%= @room.visitor.name %>が<br class="sp">あなたのキャンプ地に来たいと言っています！
    <% else %>
    所有者の<%= @room.owner.name %>と<br class="sp">メッセージのやり取りをしましょう！
    <% end %>
  </h3>
  <hr>

  <div class="message-field">
    <%= render @messages %>
  </div>

  <div class=""> <!-- message-form -->
    <%= form_for current_user.send_messages.build, url: room_messages_path(@room) do |f| %>
    <div class="form-group">
      <%= f.text_field :content, placeholder: '140文字以内でメッセージを入力してください', class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.submit '送信', class: 'btn btn-default form-control' %>
    </div>
    <% end %>
  </div>
  <%= link_to 'top', root_path %>
</div>
